######################### EBook #########################
*.epub   filter=lfs diff=lfs merge=lfs -text
*.mobi   filter=lfs diff=lfs merge=lfs -text
*.pdf    filter=lfs diff=lfs merge=lfs -text
*.rtf    filter=lfs diff=lfs merge=lfs -text


######################### Images #########################
# JPEG
*.jpg    filter=lfs diff=lfs merge=lfs -text
*.jpeg   filter=lfs diff=lfs merge=lfs -text
*.jpe    filter=lfs diff=lfs merge=lfs -text
*.jif    filter=lfs diff=lfs merge=lfs -text
*.jfif   filter=lfs diff=lfs merge=lfs -text
*.jfi    filter=lfs diff=lfs merge=lfs -text

# JPEG 2000
*.jp2    filter=lfs diff=lfs merge=lfs -text
*.j2k    filter=lfs diff=lfs merge=lfs -text
*.jpf    filter=lfs diff=lfs merge=lfs -text
*.jpx    filter=lfs diff=lfs merge=lfs -text
*.jpm    filter=lfs diff=lfs merge=lfs -text
*.mj2    filter=lfs diff=lfs merge=lfs -text

# JPEG XR
*.jxr    filter=lfs diff=lfs merge=lfs -text
*.hdp    filter=lfs diff=lfs merge=lfs -text
*.wdp    filter=lfs diff=lfs merge=lfs -text

# Graphics Interchange Format
*.gif    filter=lfs diff=lfs merge=lfs -text

# RAW
*.raw    filter=lfs diff=lfs merge=lfs -text

# Web P
*.webp   filter=lfs diff=lfs merge=lfs -text

# Portable Network Graphics
*.png    filter=lfs diff=lfs merge=lfs -text

# Animated Portable Network Graphics
*.apng   filter=lfs diff=lfs merge=lfs -text

# Multiple-image Network Graphics
*.mng    filter=lfs diff=lfs merge=lfs -text

# Tagged Image File Format
*.tiff   filter=lfs diff=lfs merge=lfs -text
*.tif    filter=lfs diff=lfs merge=lfs -text

# Scalable Vector Graphics
*.svg    filter=text -diff
*.svgz   filter=lfs diff=lfs merge=lfs -text

# Portable Document Format
*.pdf    filter=lfs diff=lfs merge=lfs -text

# X BitMap
*.xbm    filter=lfs diff=lfs merge=lfs -text

# BMP
*.bmp    filter=lfs diff=lfs merge=lfs -text
*.dib    filter=lfs diff=lfs merge=lfs -text

# ICO
*.ico    filter=lfs diff=lfs merge=lfs -text

# 3D Images
*.3dm    filter=lfs diff=lfs merge=lfs -text
*.max    filter=lfs diff=lfs merge=lfs -text


######################### Archives #########################
# It's better to unpack these files and commit the raw source because
# git has its own built in compression methods.
*.7z      filter=lfs diff=lfs merge=lfs -text
*.jar     filter=lfs diff=lfs merge=lfs -text
*.rar     filter=lfs diff=lfs merge=lfs -text
*.zip     filter=lfs diff=lfs merge=lfs -text
*.gz      filter=lfs diff=lfs merge=lfs -text
*.gzip    filter=lfs diff=lfs merge=lfs -text
*.tgz     filter=lfs diff=lfs merge=lfs -text
*.bzip    filter=lfs diff=lfs merge=lfs -text
*.bzip2   filter=lfs diff=lfs merge=lfs -text
*.bz2     filter=lfs diff=lfs merge=lfs -text
*.xz      filter=lfs diff=lfs merge=lfs -text
*.lzma    filter=lfs diff=lfs merge=lfs -text
*.cab     filter=lfs diff=lfs merge=lfs -text
*.xar     filter=lfs diff=lfs merge=lfs -text
*.zst     filter=lfs diff=lfs merge=lfs -text

# Packing-only formats
*.iso     filter=lfs diff=lfs merge=lfs -text
*.tar     filter=lfs diff=lfs merge=lfs -text

# Package management formats
*.dmg     filter=lfs diff=lfs merge=lfs -text
*.xpi     filter=lfs diff=lfs merge=lfs -text
*.gem     filter=lfs diff=lfs merge=lfs -text
*.egg     filter=lfs diff=lfs merge=lfs -text
*.deb     filter=lfs diff=lfs merge=lfs -text
*.rpm     filter=lfs diff=lfs merge=lfs -text
*.msi     filter=lfs diff=lfs merge=lfs -text
*.msm     filter=lfs diff=lfs merge=lfs -text
*.msp     filter=lfs diff=lfs merge=lfs -text
*.txz     filter=lfs diff=lfs merge=lfs -text


### NO ATTRIBUTES ###
publisher/hugo/themes/DoIt/** -filter=lfs -diff=lfs -merge=lfs -text
